= content_for :title, "Fighters"

= link_to 'New Fighter', new_fighter_path, class: "btn btn-success"

%table.table
  %thead
    %tr
      %th 
      %th Name
      %th Level
      %th

  %tbody
    - @fighters.each do |fighter|
      %tr
        %td= image_tag fighter.avatar.url(:thumb)
        %td= fighter.name
        %td= fighter.level
        %td= link_to 'Show', fighter, class: "btn btn-info"

%br

= paginate @fighters