-# frozen_string_literal: true
= simple_form_for(@fight) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :winner, collection: Fighter.all.order(:level).map { |fighter| ["lvl#{fighter.level} - #{fighter.name}", fighter.id] }, prompt: 'Choose a Fighter', label: 'Fighter 1'

    = f.input :looser, collection: Fighter.all.order(:level).map { |fighter| ["lvl#{fighter.level} - #{fighter.name}", fighter.id] }, prompt: 'Choose a Fighter', label: 'Fighter 2'

  .form-actions
    = f.button :submit, class: 'btn btn-success'
