= content_for :title, "Fights"

%table.table
  %thead
    %tr
      %th Winner
      %th Looser
      %th Victory type
      %th Rounds
      %th

  %tbody
    - @fights.each do |fight|
      %tr
        %td= fight.winner
        %td= fight.looser
        %td= fight.victory_type
        %td= fight.rounds
        %td= link_to 'Show', fight

%br

= link_to 'New Fight', new_fight_path
