= content_for :title, 'Fights'

= link_to 'New Fight', new_fight_path, class: 'btn btn-success'

%table.table
  %thead
    %tr
      %th 
      %th Winner
      %th 
      %th Looser
      %th Victory type
      %th Rounds
      %th

  %tbody
    - @fights.each do |fight|
      %tr
        %td= fight.id
        %td= fight.winner.name
        %td vs
        %td= fight.looser.name
        %td= fight.victory_type
        %td= fight.rounds
        %td= link_to 'Show', fight

%br


