= content_for :title, 'Fight'

%p
  %b Winner punches:
  = @fight.winner_punches
%p
  %b Looser punches:
  = @fight.looser_punches
%p
  %b Victory type:
  = @fight.victory_type
%p
  %b Rounds:
  = @fight.rounds
%p
  %b Winner:
  = @fight.winner.name
%p
  %b Looser:
  = @fight.looser.name

= link_to 'Back', fights_path, class: 'btn btn-secondary'
