= content_for :title, 'Fight'

%p.winner_punches
  %b Winner punches:
  = @fight.winner_punches
%p.looser_punches
  %b Looser punches:
  = @fight.looser_punches
%p.victory_type
  %b Victory type:
  = @fight.victory_type
%p.rounds
  %b Rounds:
  = @fight.rounds
%p.winner
  %b Winner:
  = @fight.winner.name
%p.looser
  %b Looser:
  = @fight.looser.name

= link_to 'Back', fights_path, class: 'btn btn-secondary'
