= content_for :title, 'Fight'

.row
  .div{class: "col-md-4"}
    %p.victory_type
      %b Victory type:
      = @fight.victory_type
    %p.rounds
      %b Rounds:
      = @fight.rounds
  .div{class: "col-md-4"}
    %p.winner
      %b Winner:
      = @fight.winner.name
    %p.winner_punches
      %b Winner punches:
      = @fight.winner_punches
  .div{class: "col-md-4"}
    %p.looser
      %b Looser:
      = @fight.looser.name
    %p.looser_punches
      %b Looser punches:
      = @fight.looser_punches

= link_to 'Back', fights_path, class: 'btn btn-secondary'
